
<div class="card-home z-1">
    
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card-main rounded-4">
                De Engenheira Civil para Desenvolvedora
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 10px;">
        <div class="col">
            <div class="card h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'firstproject1.png', class: 'card-img-top', alt: 'First Girl' %>
                        <div class="card-body">O primeiro projeto.</div>
                    </div>
                    <div class="flip-card-back">
                        <%= image_tag 'firstproject6.png', class: 'card-img-top', alt: 'First Girl' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-80">
                <%= image_tag 'firstproject1.png', class: 'card-img-top', alt: 'First Girl' %>
                <div class="card-body">
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-80">
                <%= image_tag 'firstproject1.png', class: 'card-img-top', alt: 'First Girl' %>
                <div class="card-body">
                    <p class="card-text">This is a longer card with suppnal content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-80">
                <%= image_tag 'firstproject1.png', class: 'card-img-top', alt: 'First Girl' %>
                <div class="card-body">
                    <p class="card-text">s content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
