
<div class="card-home z-1">
    
    <div class="row p-1">
        <div class="col">
            <h2 class="title">Welcome</h2>
        </div>
    </div>

    <div class="card-text-main bg-dark bg-gradient" style="--bs-bg-opacity: .8;">
        <h5 class="title-main">Olá, me chamo Nicoly</h5>
        <p class="text-main lh-sm">E apresento a vocês o meu primeiro blog, ou talvez um portfólio, ou melhor um estudo diário.<br>
            <br>Aqui você encontrará informações sobre meus projetos, interesses e muito mais.
        </p>
    </div>
    

    <div class="row row-cols-1 row-cols-md-4 g-3" style="margin: -135px 30px;">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'firstproject1.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">O primeiro projeto em Rails</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'firstproject2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'desafiohoras.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">Projeto horas do dia</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'firstproject2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-3" style="margin: 260px 30px;">
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'desafioidade.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">O primeiro projeto em Rails</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'firstproject2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'dasafiomate.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">Projeto horas do dia</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'firstproject2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
