<div class="row g-2 img-challenges">
    <div class="col-3">
        <img src="<%= image_url 'desafio01.png' %>" alt="desafio1" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio02.png' %>" alt="desafio2" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio03.png' %>" alt="desafio3" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio04.png' %>" alt="desafio4" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio05.png' %>" alt="desafio5" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio06.png' %>" alt="desafio6" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio07.png' %>" alt="desafio7" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio08.png' %>" alt="desafio8" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio09.png' %>" alt="desafio9" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio10.png' %>" alt="desafio10" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio11.png' %>" alt="desafio11" class="img-fluid">
    </div>
    <div class="col-3">
        <img src="<%= image_url 'desafio12.png' %>" alt="desafio12" class="img-fluid">
    </div>
</div>