<div class="row g-0 position-relative challenges" id="challenges">
    <div class="col-12 text-white text-center">
        <h1>Challenges</h1>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio01.png' %>" alt="desafio1">
        <p class="text-white text-center">desafio1</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio02.png' %>" alt="desafio2">
        <p class="text-white text-center">desafio2</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio03.png' %>" alt="desafio3">
        <p class="text-white text-center">desafio3</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio04.png' %>" alt="desafio4">
        <p class="text-white text-center">desafio4</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio05.png' %>" alt="desafio5">
        <p class="text-white text-center">desafio5</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio06.png' %>" alt="desafio6">
        <p class="text-white text-center">desafio6</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio07.png' %>" alt="desafio7">
        <p class="text-white text-center">desafio7</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio08.png' %>" alt="desafio8">
        <p class="text-white text-center">desafio8</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio09.png' %>" alt="desafio9">
        <p class="text-white text-center">desafio9</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio10.png' %>" alt="desafio10">
        <p class="text-white text-center">desafio10</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio11.png' %>" alt="desafio11">
        <p class="text-white text-center">desafio11</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 p-2">
        <img class="img-fluid img-challenges" src="<%= image_url 'desafio12.png' %>" alt="desafio12">
        <p class="text-white text-center">desafio12</p>
    </div>
</div>
