<div id="projects">
    <h1 class="title-projects slide-in-left mb-4">Projetos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5 mx-5 ">

        <% @project_cards.each do |card| %>
            <div class="col">
                <div class="card bg-dark h-100 slide-in-left">
                    <%= image_tag card.image, class: 'card-img-top img-fluid' %>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="card-title text-bg-dark mb-0" style="font-family:'Poppins';"><%= card.title %></h5>
                            <div class="btn-group">
                                <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#projectModal-<%= card.id %>">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <a href="<%= card.github_link %>" class="github-link" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <p class="card-text text-bg-dark text-projects"><%= card.description %></p>
                        <div class="tech-icons mt-1">
                            <i class="fab fa-html5 mx-1"></i>
                            <i class="fab fa-css3-alt mx-1"></i>
                            <i class="fab fa-js-square mx-1"></i>
                            <i class="fab fa-bootstrap"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="projectModal-<%= card.id %>" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true" style="background-color: rgb(1, 3, 12);">
                <div class="modal-dialog modal-xl" style="margin-top: 2vh">
                    <div class="modal-content modal-projects bg-dark text-bg-dark">
                        <div class="row">
                            <!-- Imagem do projeto -->
                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                <%= image_tag card.modal_image , class: 'img-fluid img-modal' %>
                            </div>
                            <!-- Conteúdo do projeto -->
                            <div class="col-12 col-md-8 ps-4">
                                <div class="card-body card-modal">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h3 class="mb-0"><%= card.title %></h3>
                                        <button type="button" class="btn-close btn-close-white btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- Texto do projeto -->
                                    <%= card.modal_description.html_safe %>
                                    <!-- Ícones e link do projeto -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class="tech-icons mt-1">
                                            <i class="fab fa-html5 mx-1"></i>
                                            <i class="fab fa-css3-alt mx-1"></i>
                                            <i class="fab fa-js-square mx-1"></i>
                                            <i class="fab fa-bootstrap"></i>
                                        </div>
                                        <a href="<%= card.github_link %>" class="github-link-txt" target="_blank" rel="noopener noreferrer">PROJETO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>        
</div>