<div class="container-fluid p-0">

    <%= render partial: "home/menu" %>

    <!-- Tela de Carregamento 
            <div id="loading-screen" class="loading-screen">
                <h1 id="loading-text" class="loading-text">CODE GIRL</h1>
            </div>
    -->



    <div class="row g-0 positon-relative row-body" id="row-body">
        <div class="col-md-4">
            <div class="index-left-content">
                <div class="light-div">
                    <img src="<%= image_url 'luminaria.png' %>" alt="luminaria" class="" id="lamps">
                    <div class="light-beam" id="light-beam"></div> <!-- Adicione este elemento para o feixe de luz -->
                </div>

                <div class="shelf shelf-top">
                    <ul>
                        <li class="shelf-top-books">
                            <img src="<%= image_url 'books.png' %>" alt="books">
                        </li>
                    </ul>
                </div>

                <div class="shelf shelf-bottom">
                    <ul>
                        <li class="shelf-bottom-elfo">
                            <img src="<%= image_url 'elfo.png' %>" alt="elfo">
                        </li>
                        <li class="shelf-bottom-monitor">
                            <div class="monitor-bg">
                                <div class="screen">
                                    <div class="vscode" id="monitorScreen">
                                        <div class="vscode-number">
                                            <p>10<br>11<br>12<br>13<br>14<br>15<br>16<br>17</p>
                                        </div>

                                        <ul class="menu-top">
                                            <li class="html"></li>
                                            <li class="css"></li>
                                            <li class="js active"></li>
                                        </ul>
                                        <div class="menu-left">
                                            <i class="fas fa-file-alt" style="color: rgb(220, 242, 249);"></i> 
                                            <i class="fas fa-search"></i> 
                                            <i class="fas fa-code-branch"></i> 
                                            <i class="fas fa-user"></i> 
                                            <i class="fas fa-cog"></i> 
                                        </div>

                                        <ul class="vscode-explorer">
                                            <li>
                                                <i class="fas fa-angle-down"></i>
                                                <span class="name-pasta" style="margin-top: 12px; margin-left: 4px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 24px; margin-left: 6px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 34px; margin-left: 12px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 44px; margin-left: 12px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 54px; margin-left: 12px;"></span>

                                            </li>  

                                            <li>
                                                <i class="fas fa-angle-down"></i>
                                                <span class="name-pasta" style="margin-top: 12px; margin-left: 4px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 24px; margin-left: 6px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 34px; margin-left: 12px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 44px; margin-left: 12px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 54px; margin-left: 12px;"></span>
                                            </li>    

                                            <li>
                                                <i class="fas fa-angle-down"></i>
                                                <span class="name-pasta" style="margin-top: 12px; margin-left: 4px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 24px; margin-left: 6px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 34px; margin-left: 12px;"></span>
                                                <span class="name-sub-pasta" style="margin-top: 44px; margin-left: 12px;"></span>
                                            </li>                                            
                                        </ul>

                                        <!-- <p class="screen-title hidden">Hello World!</p> -->

                                    </div>
                                </div>
                                <div class="base"></div>
                                <div class="base-foot"></div>
                            </div>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card-main d-flex justify-content-center align-items-center" id="card-main">
                <div class="card-body-main text-center">
                    <p class="card-title-main fw-semibold" >👋 Hi, I'm Nicoly</p>
                    <p class="card-text-main">E apresento a vocês o meu primeiro blog, ou talvez um portfólio, ou melhor um estudo diário.</p>
                </div>
            </div>
        </div>
    </div>
        
    <%= render partial: "home/about" %>
    
    <div class="footer py-2">
      Construído do zero com &#x2764; © Copyright 2024, Nicoly Meneghesso. All rights reserved.
    </div> 
</div>