<div class="card-home z-4">
    
   

    <div class="row row-cols-1 row-cols-md-2 g-1" style="margin: -30px 38px;">
        <div class="col">
        </div>
          
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-3" style="margin: -100px 20px;">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'firstproject1.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">O primeiro projeto em Rails</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'firstproject2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'desafiohoras.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">Projeto horas do dia</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'desafiohoras2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-3" style="margin: 200px 20px;">
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'desafioidade.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">Projeto verificador de idade</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'desafioidade2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card bg-dark h-100 flip-card" id="flip-card-1">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <%= image_tag 'dasafiomate.png', class: 'custom-img card-img-top' %>
                        <div class="text-front text-bg-dark rounded-1">Projeto reajuste salarial</div>
                    </div>
                    <div class="flip-card-back custom-bg-img" 
                        style="background-image: url('<%= image_url 'dasafiomate2.png' %>');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-end">
        <div class="col text-center">
            
        </div>
    </div>
</div>